{layout="layouts/_page-wrapper"}
{layout:set name="title" value="Blog"}

<div class="full-width content">
    <div class="content-wrapper page-content">
        {exp:channel:entries dynamic="no" channel='Blog' orderby="date" sort="desc" limit='4' paginate="bottom"  }
            <div class="entry">
                <h2><a href="/index.php/blog/{url_title}">{title}</a></h2>
                <p><b>on:</b> {entry_date format='%n/%j/%Y'}, <b>by:</b> {author}</p>
            </div>
            {paginate}
                <div class="pagination-container">
                    <ul>
                        {pagination_links}
                            <ul>
                                {first_page}
                                    <li><a href="{pagination_url}" class="page-first">First Page</a></li>
                                {/first_page}
                                {previous_page}
                                    <li><a href="{pagination_url}" class="page-previous">Previous Page</a></li>
                                {/previous_page}
                                {page}
                                    <li><a href="{pagination_url}" class="page-{pagination_page_number} {if current_page}active{/if}">{pagination_page_number}</a></li>
                                {/page}
                                {next_page}
                                    <li><a href="{pagination_url}" class="page-next">Next Page</a></li>
                                {/next_page}
                                {last_page}
                                    <li><a href="{pagination_url}" class="page-last">Last Page</a></li>
                                {/last_page}
                            </ul>
                        {/pagination_links}
                    </ul>
                </div>
            {/paginate}
            {if no_results}
                <div class="no-results">
                    <p>None Found</p>
                </div>
            {/if}
        {/exp:channel:entries}
    </div>
</div>