.full-width{
    position: relative;
    float: left;
    width: 100%;
}
.content-width-1-2{
    position: relative;
    float: left;
    width: 50%;
}
.content-wrapper{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.header{
    background-color: #333333;
    color:#ffffff;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header a{
    color: #ffffff;
}
.header .content-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-nav li{
    position: relative;
    float: left;
    list-style: none;
    width: auto;
    padding: 5px 20px;
}

.hero-image{
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-wrapper{
    padding: 50px 0;
}

.hero-wrapper h1{
    font-size: 20px;
}

.hero-image .hero-wrapper h1{
    color: #ffffff;
}

.page-content{
    padding: 50px 0;
}