<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Basic Meta Information-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=5.0">
        <title>{if layout:title}{layout:title}{if:elseif site_name}{site_name}{if:else}Liams Test Blog{/if}</title>
        <link rel="icon" href="/favicon.ico">
        
        <!--CSS-->
        {embed="assets/css-main"}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/assets/css-main.css" title="common-styles" rel="stylesheet">
        

    </head>
    <body>

    <?php 
        session_start();
    ?>

    <div style="overflow:hidden;">
        <header class="full-width header">
            <div class="content-wrapper">
                <section class="content-width-1-2">
                    <h1><a href="/"><b>{if site_name}{site_name}{if:else}Liams Test Blog{/if}</b></a></h1>
                </section>
                <section class="content-width-1-2">
                    <ul class="main-nav">
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/contact/">Contact</a></li>
                    </ul>
                </section>
            </div>
		</header>

        <div id="hero" class="hero-container full-width {if layout:hero_image} hero-image" style="background: url( {layout:hero_image} ) top center / cover no-repeat" {if:else}"{/if} >
            <div class="hero-wrapper content-wrapper">
                <h1>{if layout:title}{layout:title}{if:else}{title}{/if}</h1>
            </div>
        </div>

		{layout:breadcrumbs}

		{layout:contents}

		<footer class="full-width">
            <section class="content-wrapper search-section">
                {exp:search:advanced_form result_page="search/results" channel="Blog" no_result_page="search/no-results"}
                    <p>
                        <label for="keywords">Search:</label><br>
                        <input type="text" name="keywords" id="keywords" value="" size="18" maxlength="100">
                    </p>
                    <p>
                        <input type="submit" value="submit" class="submit">
                    </p>
                {/exp:search:advanced_form}
            </section>
			<section class="content-wrapper footer-content">
				<ul class="full-width footer-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
			</section>
		</footer>
        
		{layout:scripts}
    </body>
</html>
